<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notepad Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex mt-4">
    <button onclick="window.location.href = '/notes'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Back to Notes</button>
</div>

<div class="container mx-auto px-4 py-6">
        <% if (query) { %>
            <h1 class="text-4xl font-extrabold text-center text-gray-900 dark:text-gray mb-8">Search Results for "<%= query %>"</h1>
        <% } %>
    </h1>
    <div class="flex flex-col gap-6">
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105">
            <div class="px-6 py-4">
                <div class="flex flex-col mb-4">
                    <h2 class="text-xl font-bold text-gray-800 dark:text-white mb-2 truncate"><%= data[i].title %></h2>
                    <div class="flex space-x-2 mb-4">
                        <button type="button" class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800" onclick="AddLabel('<%= data[i]._id %>')">Add Label</button>
                        <button type="button" class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800" onclick="deleteNote('<%= data[i]._id %>')">Delete</button>
                        <button type="button" class="text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 focus:outline-none dark:focus:ring-yellow-800" onclick="ArchieveNote('<%= data[i]._id %>')">Archive</button>
                    </div>
                    
                    <p class="text-gray-700 dark:text-gray-300 mb-4">
                        <%= data[i].content %>
                    </p>
                    
                    <div class="flex flex-wrap gap-2">
                        <% for (let j = 0; j < data[i].label.length; j++) { %>
                        <span class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300">#<%= data[i].label[j] %></span>
                        <% } %>
                    </div>
                </div>
                <div id="addlabel-<%= 'card-' + data[i]._id %>" class="px-6 py-4">
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</body>
</html>